# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules (¡Muy importante que no se suban!)
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite y TypeScript
tsconfig.tsbuildinfo

# Archivos de entorno (¡AQUÍ ESTÁ LA SEGURIDAD DE SUPABASE!)
.env
.env.*
!.env.example

# Archivos de caché
.eslintcache
.stylelintcache